# String Formatting

In [3]:
# first option is very similar to string formatting in C language 

name = "Danilo"

greeting = "Hello %s!" %(name)

In [4]:
print(greeting)

Hello Danilo!

In [6]:
# let's play with float point numbers
pi = 3.14159265359

print_pi = "Pi %s, pi = %1.3f" %(pi,pi)

#let's see the difference using %s and %f
print(print_pi)

Pi 3.14159265359, pi = 3.142

Note that %s uses the input as it is. pi was converted into a string.

Using %f, uses the input as float point number, and you can control how many numbers before and after the dot.

In [8]:
print("Pi = %1.1f; pi = %1.2f; pi = %1.5f" %(pi,pi,pi))

Pi = 3.1; pi = 3.14; pi = 3.14159

In [12]:
#lets play with another number and see how the number before '.' works on formating float point numbers. 
n = 532.235
print("n = %.2f; n = %1.2f; n = %2.2f; = %3.2f" %(n,n,n,n))

n = 532.24; n = 532.24; n = 532.24; = 532.24

We can see that nothing changed, but only until we use the number 7 (the **TOTAL** characteres we are printing. The number of digitis on the integer part is 3 plus 1 for the dot(.) plus 2 for decimal).

After that, it is gonna put leading spaces before the number. Let's play and see.

In [17]:
print("n = %.2f; using 0" %(n))
print("n = %5.2f; using 5" %(n))
print("n = %6.2f; using 6" %(n))
print("n = %7.2f; using 7" %(n))
print("n = %8.2f; using 8" %(n))
print("n = %10.2f; using 10" %(n))
print("n = %15.2f; using 15" %(n))
print("n = %50.2f; using 50" %(n))

n = 532.24; using 0
n = 532.24; using 5
n = 532.24; using 6
n =  532.24; using 7
n =   532.24; using 8
n =     532.24; using 10
n =          532.24; using 15
n =                                             532.24; using 50

Now let's use a more pythonic way of string formatting. We will use format method.

In [30]:
"First: {}; second: {}".format(30, 35.23)

'First: 30; second: 35.23'

In [31]:
"First: {0}; second: {1}".format(30, 35.23)

'First: 30; second: 35.23'

In [32]:
"First: {1}; second: {0}".format(30, 35.23)

'First: 35.23; second: 30'

As we can see above, we use {} as place holder for whatever we want to insert in the string. We can also index it, to control the order of the parameters.
Bellow, we will use variable names inside the place holders.

In [33]:
"Value of x is {x}, the value of y is {y}. We see that {x} > {y}".format(x=10, y=5)

'Value of x is 10, the value of y is 5. We see that 10 > 5'

Now let's see how to format float point numbers.

In [36]:
"{:.2f}".format(10.534)

'10.53'

Padding:

In [38]:
"{:10.2f}".format(10.534)

'     10.53'

we can also truncate strings using both methods.

In [40]:
"Truncated: %.5s" %("ABCDEFGHIJKLMNOPQRSTUVWXYZ")

'Truncated: ABCDE'

In [41]:
"Truncated: {:.5s}".format("ABCDEFGHIJKLMNOPQRSTUVWXYZ")

'Truncated: ABCDE'

Using variables, formating float point numbers and truncating strings

In [42]:
"Number {x:.2f}. Truncated: {s:.5s}".format(s="ABCDEFGHIJKLMNOPQRSTUVWXYZ",x=3.14159265359)

'Number 3.14. Truncated: ABCDE'